bcrypt==4.3.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
pytest==8.4.1
psycopg2-binary==2.9.10
python-jose==3.5.0
python-multipart==0.0.20
aio-pika==9.5.7
backoff==2.2.1
faststream[rabbit]==0.5.48
Jinja2==3.1.6
pyarrow==21.0.0
openpyxl==3.1.5
httpx==0.28.1